<div class="container text-center">
  <section>
  <h1 class="welcome-title"><%= title %></h1>
  <img
  src="../images/meat-market.jpg"
  alt="grocery-store"
  id="grocery-store"
/>
<p class="description"><%= description %></p>
</section>
</div>
