<div class="container text-center">
  <h1 style="font-size: 35px">Welcome to Fresh Meat Emporium</h1>
  <img
  src="../images/meat-market.jpg"
  alt="grocery-store"
  id="grocery-store"
/>
  <p style="font-size: 15px">
    Indulge in the finest selection of meats at our online store. Explore a
    diverse range of <br />
    premium cuts, from succulent steaks to savory sausages, all sourced from
    the finest farms. <br />
    Experience convenience and quality as you shop for the freshest produce,
    pantry essentials, <br />
    and household must-haves from the comfort of your home. With seamless
    navigation <br />
    and dependable delivery, your order will reach you promptly. Elevate your
    culinary <br />
    creations with us – your ultimate destination for premium meat and
    everyday necessities.
  </p>

</div>
