#add-product-btn {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#submit-btn {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#add-client-btn {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#site-footer {
  margin-top: auto;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main{
  display: flex;
  flex-direction: column;
  width: 50%;
}

#error-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#error-icon{
  height: 10rem;
  width: 8rem;
}



#company-info > p {
    display: inline-block;
}
.upper-container{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 50px;

}

.logo{
    width: 100px;
    padding-bottom: 10px;
}
/*Body*/

.borderbox{
    border-style: solid;
        display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 20px;
}
.mid-container{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.title{
    font-weight: bold;
    font-size: small;
}

.align-left{
    text-align: left;
}
.align-right{
    text-align: right;
}
.align-center{
    
    text-align: center;
}
/* Price section*/
#price-container{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 50px;
}


/*Bottom */
.bottom-container{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 50px;}